[submodule "submodules/bramstein/sfnt2woff-zopfli"]
	path = submodules/bramstein/sfnt2woff-zopfli
	url = https://github.com/bramstein/sfnt2woff-zopfli
[submodule "submodules/google/woff2"]
	path = submodules/google/woff2
	url = https://github.com/google/woff2
[submodule "submodules/google/brotli"]
	path = submodules/google/brotli
	url = https://github.com/google/brotli
[submodule "submodules/madler/zlib"]
	path = submodules/madler/zlib
	url = https://github.com/madler/zlib
[submodule "submodules/google/zopfli"]
	path = submodules/google/zopfli
	url = https://github.com/google/zopfli
